/* IMPORT FONTS FROM fonts.css */

@import url(./fonts.css);
@import url(./partials/_variables.css);

/**************** START NAVIGATION *********************/

.header_area .main-menu .navbar .navbar-brand {
  padding: 0.2rem 0.5rem;
  
}

.header_area .main-menu .nav-item .nav-link {
  font-size: medium;
  font-family: var(--roboto);
  padding:2rem;
  font-weight: 200;
  text-transform: uppercase;
  color: var(--text-color);
}

.header_area .main-menu .navbar-nav .active a {
  background: var(--gradient-color);
  /* Use to convert Backgrount gradient into text */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover {
  background: var(--gradient-color);
  /* Use to convert Backgrount gradient into text */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/**************** END NAVIGATION ***********************/
