/* Custom Css Body Format  

Selected tag {
   Property tag : value;
} */

/* Linked Files : 
1) Basic_Format.html */


/* This is to learn about default css applied in html */
/*default properties:
position: static; 



*/


/* EXAMPLE FORMAT */

.Text_Center{
   text-align:center ;
   height: 100% ;
   width: auto;
   
}

.Padd_Down{
   padding-left: 0px;
   padding-top: 2px;
   padding-right: 2px;
   padding-bottom: 46px;
} 


.Position_Center{
   float: left;
   position: relative;
   left: 280px;
   right: 0pt;
   top: 0pt;
   bottom: 0pt;
}




.Position_Right{
   float: left ;
   position: relative;
   top: 0px;
   left: 573px;
   right: 0pt;
   bottom: 0px;
   
   
}

.Position_Left{
   float: left ;
   position: relative;
   top: 0px;
   left: 0px;
   
}

.Position_Left_Css{
   float: left ;
   position: relative;
   top: 50px;
   left: 50px;
   
}



.Position_Left_Down{
   float: left ;
   position: relative;
   left: 0pt;
   right: 0pt;
   top: 50pt;
   bottom: 0pt;
}

#Pos_Right{
   float: right;
   border-collapse: collapse;
   position: relative;
   top: 0px;
   bottom: 0px;
   left: 2px;
   right: 0px;

}



.Exp_Head{
   border-top: 2px;
   border-left: 2px;
   border-right: 2px;
   border-bottom: 0px; 
   border-style: solid;
   background-color: lightskyblue;
   border-color: black;
   
}

.Exp_Sub_Head{
   border-style: solid; 
   background-color: lightgreen;
   border-top: 2px;
   border-left: 2px;
   border-right: 2px;
   border-bottom: 0px;
   
   
}

.Bg_Color_Blue{
   background-color: royalblue;
   
}

.Exp_Code_M_Left{
   border-style: solid;
   background-color: white;
   text-align: center  ;
   border-top: 2px;
   border-left: 2px;
   border-right: 2px;
   border-bottom: 0px;
   
}

.Exp_Code_M{
   border: 2px solid black;
   background-color: white;



}



.Exp_Code_M_Right{
   background-color: lightgrey;
   text-align: center  ;
   float: right;
   
   
}

.Exp_Code_Size_S{
   border-top: 2px;
   border-left: 2px;
   border-right: 2px;
   border-bottom: 0px;
   border-style: solid;
   background-color: floralwhite;
   padding: 50px;
   
}

.Exp_Code_Outpt{
   background-origin: padding-box;
   background-color: fuchsia;
   border-top: 2px;
   border-left: 2px;
   border-right: 2px;
   border-bottom: 0px;
   border-style: solid;
   
}   

.Border_Left{
   border-left: 1px;
   border-top: 0px;
   border-bottom: 0px;
   border-right: 0px;
   border-style: solid;
   border-color: black;
   
   
}

.Border_Down{
   border-left: 0px;
   border-top: 0px;
   border-bottom: 2px;
   border-right: 0px;
   border-style: solid;
   border-color: black;
   
   
}




.Border_All{
   border-left: 2px;
   border-top: 0px;
   border-bottom: 2px;
   border-right: 2px;
   border-style: solid;
   border-color: black;
   
   
}


.Box_M{
   width: 351.6px;
   height: 300px ;
   
}

.Box_L{
   width: 90%;
   height: 700px ;
   
}



#Text_Css{
   text-align: left;
}


#Text_Border{
   border-left: 2px;
   border-top: 0px;
   border-bottom: 2px;
   border-right: 0px;
   border-style: solid;
}

.Border_Down_Rigth{
   border-left: 0px;
   border-top: 0px;
   border-bottom: 2px;
   border-right: 2px;
   border-style: solid;   
}

#H_Size{
   width: 90%;
   height: 300px ;
   
}

#C_Size{
   width: 90%;
   height: 300px ;
   
}

#O_Size{
   width: 90%;
   height: 300px ;
   
}



.Line {
   width: 100%;
   height: 1px;
   border-bottom: 2px solid rgb(23, 20, 223);
   margin: 40px 0;

}


.btn-dark {
   color: #fff;
   background-color: #343a40;
   border-color: #343a40;
 }
 
















/* TABLE STYLE  */

.Table_Style {
   border-collapse: collapse;
   width: 100%;
}

.Head_Style  {
   text-align: left;
   padding: 8px;
   background-color: lightgreen;
   
   
}

.Nth_Even :nth-child(even) {
   background-color: #f3f3f3;
}


.Table_Size_S{
   width: 100px;
   height: 50px;   
}

.Table_Size_M{
   width: 200px;
   height: 50px;   
}

.Table_Size_L{
   width: 100%;
   height: 100px;
   text-align: center;
}




.btn:hover{
   background-color: hsl(0, 51%, 81%);
   cursor: pointer;
   border-bottom: 1px solid hsl(0, 41%, 73%);
   transition: 5s;
   border-radius: 4px;

}

.Btn_Active:active{
   transition: 0.1s;
   background-color: aqua;
   border: 2px solid #f3f3f3;


}

.Btn_Cool{
   border-radius: 4px;
   color: black;

}

.text-dark {
   color: #22282e ;
 }
 .text-dark:hover {
   color: #212427 ;
 }



.Margin_S{
   margin: 50px;
}

.Margin_M{
   margin: 100px;
   
}

.Size_M{
   width:100% ;   
}


.Image_Add{
   padding: 20px;
}









