


/* SIDEBAR CSS */


.Wrapper {
    display: flex;
    align-items: stretch;

}


#Sidebar{
    background: hsl(228, 54%, 64%);
    color: hsla(0, 100%, 100%, 0.973);

}


.Side_Size{
    height:  6000px ;
    width :  240px;

}


#Sidebar .Sidebar_Header{
    padding: 10px;
    background: hsl(228, 54%, 64%);

}


#Sidebar .Sidebar_Ul {
    padding: 20px 15px; 
    border-bottom: 3px solid hsl(228, 54%, 64%);
    list-style: none;
    font-family:  Georgia, 'Times New Roman', Times, serif ;
}


#Sidebar .Sidebar_Ul:hover {
    padding: 20px 15px;
    background-color: hsl(230 , 58%, 64%); 
    border-bottom: 3px solid hsl(230 , 58%, 64%);
    list-style: none;
    font-family:  Georgia, 'Times New Roman', Times, serif ;
}

.active {
    list-style: none;
}


.Dropdown_Toggle {
    color: hsl(0, 0%, 99%);
    text-decoration: none;
    font-size: large    ;
}

.Dropdown_Toggle:after {
    content: '\002B'; /*?  + sign */
    color: white;
    float: right;
}

.Dropdown_Toggle:hover {
    color: hsla(115, 63%, 79%, 0.918);
    transition: 5s;
  
}


.Dropdown_Toggle.Active::after{
    content: "\2212"; /*? - sign */
}



.Sub_Menu{
    overflow: hidden;
    display: none;
    list-style: none;
    transition:  .2s ease-out;
    font-size: large;
    padding: 10px 2px;
}

.Sub_Menu:hover{
    padding: 10px 40px;
}




.Sub_Menu a{
    text-decoration: none;
    color: white;
    
}



.Fix_Dropdown_Toggle {
    color: hsl(0, 0%, 99%);
    text-decoration: none;
    font-size: large    ;
    position: fixed;

}

.Fix_Dropdown_Toggle:after {
    content: '\002B'; /*?  + sign */
    color: white;
    float: right;
    position: fixed;
    left: 213px;
}

.Fix_Dropdown_Toggle:hover {
    color: hsla(115, 63%, 79%, 0.918);
    transition: 5s;
  
}


.Fix_Dropdown_Toggle.Active::after{
    content: "\2212"; /*? - sign */
}



.Fix_Sub_Menu{
    overflow: hidden;
    display: none;
    list-style: none;
    transition:  .2s ease-out;
    font-size: large;
    padding: 30px 2px;
    position: Fixed;
    

}

.Fix_Sub_Menu:hover{
    padding: 30px 40px;
}




.Fix_Sub_Menu a{
    text-decoration: none;
    color: white;
    
}


.Adjustment{
    margin-left: 20px;
}