
/* Custom Css Body Format  

 Selected tag {
    Property tag : value;
 } */

/* Linked Files : 
    1) Basic_Format.html */


.Content{
    padding: 2px;

    
}

.Heading{
    padding: 20px;
    border: 20px inherit rgb(98, 90, 170);
    color: rgba(189 , 49, 49, 0.877);
    background-color: lightpink;
    text-align: center;
}

.Sub_Heading{
    padding: 20px;
    color: seashell;
    background: skyblue;
}

.Break_S{
    padding: 5px;
}

.Break_M{
    padding: 10px;
}

.Break_L{
    padding: 20px;
}

.Break_XL{
    padding: 100px ;
}

.Break_XXL{
    padding: 600px 0px ;

}

.Break_XXXL{
    padding: 1200px 0px ;

}



.Sub_Heding_Def{
    color: wheat;
}

#Hed_Define{
    color: black;
}



/* CODDING STYLE */



.Code_Class_Name{
    color: hsl(20, 75%, 50%);
}


.Code_Class{
    color: aqua;
}


.Code_Html_Element{
    color: aqua;
}

.Code_Html_Tag{
    color: darkcyan;
}

.Code_Html{
    color: hsl(12, 20%, 53%);  
}

.Code_Html_Tool{
    color:rgb(110, 104, 104);
}



/* CSS TAGS */


.Code_Css_Selected_Tag{
    color: hsl(70, 50%, 55%);
}


.Code_Css_Property_Tag{
    color: lightblue;

}

.Code_Css_Value{
    color: rgb(168, 86, 54);

}

.Code_Css_Tool{
    color:rgb(110, 104, 104);
}
