$color-primary: #7ed56f;
$color-primary-light: rgb(123, 206, 134);
$color-primary-dark: rgb(16, 58, 12);
$color-white-light: rgb(245, 245, 245);

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tersiary-light: #2998f8;
$color-tersiary-dark: #5643fa;

$color-light-grey-1: rgb(230, 230, 230);

$color-grey-dark: rgba(15, 15, 15, 0.9);
$color-text-dark-1: #5a5757;
$color-text-dark: #777777;
$color-black: rgba(5, 5, 5, 0.9);

$default-font-size: 1.2em;







